/* More-char-list */
.more-char-list {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 280px;
  color: #fff;
}

/* More-char-container */
.more-char-container {
  background: black;
  margin-bottom: 20px;
  padding: 20px;

  /* More-char-container__text */
  &__text {
    font-family: Teko-Regular;
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;
  }

  /* More-char-container__divider */
  &__divider {
    margin-bottom: 20px;
  }
}

/* Portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width: 600px) {
  /* More-char-wrapper */
  .more-char-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    color: #fff;
  }
}

@media (min-width: 1280px) {
  /* More-char-list */
  .more-char-list {
    /* Character__img */
    .character__img {
      width: 300px;
      height: 300px;
    }
  }
}
